<robot name="hummingbird">
    <link name="hummingbird/base_link">
      <collision name="base">
        <geometry>
          <cylinder length="0.08" radius="0.32"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <!--
      <collision name="base2">
        <geometry>
          <box length="0.18" width="0.04" height="0.06"/>
        </geometry>
        <origin xyz="0 0 -0.04" rpy="0 0 0"/>
      </collision>
      -->
    </link>
    
    <link name="hanging_cylinder">
      <visual>
          <geometry>
              <cylinder radius="0.035" length="0.42"/>
          </geometry>
          <!--<material name="red"/>-->
      </visual>
      <collision>
          <geometry>
              <cylinder radius="0.085" length="0.42"/>
          </geometry>
      </collision>
    </link>
    
    <joint name="base_to_hanging_cylinder" type="fixed">
        <parent link="hummingbird/base_link"/>
        <child link="hanging_cylinder"/>
        <origin xyz="0 0 -0.21" />
    </joint>
    
</robot>
